plugins {
    id 'java'
    id 'maven'
    id 'maven-publish'
    id 'com.jfrog.bintray' version '1.7.1'
}

apply plugin: 'war'
war {
	archiveName 'VOSpaceBackend.war'
}
    
repositories {
    jcenter()
    mavenLocal()
    // Only here until cadcUtil is in jcenter.
    maven {
        url  'http://dl.bintray.com/opencadc/software'
    }
    maven {
        url "http://maven.restlet.org"
    }
}

sourceCompatibility = 1.7

group = 'it.inaf.oats'

version = '1.0'

dependencies {

    runtime files('/home/bertocco/netbeans_prjs/vospace-backend/build/libs/vospace-backend.jar')
    
    runtime 'log4j:log4j:1.2.+'
    runtime 'com.googlecode.json-simple:json-simple:1.1.1' 
    runtime 'org.json:json:20160212'
    runtime 'org.jdom:jdom:2.0.2'
    runtime 'javax:javaee-web-api:7.0'
    runtime 'commons-io:commons-io:2.5'
    runtime group: 'commons-fileupload', name: 'commons-fileupload', version: '1.2'
    runtime 'commons-codec:commons-codec:1.10'
    runtime group: 'commons-lang', name: 'commons-lang', version: '2.2'
    runtime 'org.apache.httpcomponents:httpcore:4.4.5'
    runtime 'xerces:xercesImpl:2.+'
    
    runtime group: 'mysql', name: 'mysql-connector-java', version: '5.1.6'
   
    runtime 'org.restlet.jee:org.restlet.ext.servlet:2.3.4'
    runtime 'org.restlet.jee:org.restlet:2.3.6'
    runtime group: 'org.springframework', name: 'spring-jdbc', version: '4.3.2.RELEASE'
    
    //compile 'org.opencadc:cadc-access-control-identity:1.+'
    
    //runtime 'org.opencadc:cadc-util:1.+'
    //runtime 'org.opencadc:cadc-vos:1.+'
    //runtime 'org.opencadc:cadc-vos-server:1.+'
    //runtime 'org.opencadc:cadc-uws:1.+'
    //runtime 'org.opencadc:cadc-uws-server:1.+'
    //compile 'org.opencadc:cadc-vosi:1.+'
    //compile 'org.opencadc:cadc-registry:1.+'
    
    runtime files('/home/bertocco/opt/opencadc/projects/ac/cadc-access-control/build/libs/cadc-access-control.jar')
    runtime files('/home/bertocco/opt/opencadc/projects/ac/cadc-access-control-identity/build/libs/cadc-access-control-identity.jar')
    runtime files('/home/bertocco/opt/opencadc/projects/uws/cadc-uws-server/build/libs/cadc-uws-server.jar')
    runtime files('/home/bertocco/opt/opencadc/projects/uws/cadc-uws/build/libs/cadc-uws.jar')
    runtime files('/home/bertocco/opt/opencadc/projects/core/cadc-util/build/libs/cadc-util.jar')
    runtime files('/home/bertocco/opt/opencadc/projects/core/cadc-log/build/libs/cadc-log.jar')

    runtime files('/home/bertocco/opt/opencadc/projects/vos/cadc-vos/build/libs/cadc-vos.jar')
    runtime files('/home/bertocco/opt/opencadc/projects/vos/cadc-vos-server/build/libs/cadc-vos-server.jar')
    
    runtime files('/home/bertocco/opt/opencadc/projects/reg/cadc-vosi/build/libs/cadc-vosi.jar')
    runtime files('/home/bertocco/opt/opencadc/projects/reg/cadc-registry/build/libs/cadc-registry.jar')
    runtime files('/home/bertocco/netbeans_prjs/oatsrestlet/build/libs/oatsrestlet.jar')

}
