<?xml version="1.0" encoding="UTF-8"?>
<!--
/**_____________________________________________________________________________
 *
 *                                 OATS - INAF
 *  Osservatorio Astronomico di Tireste - Istituto Nazionale di Astrofisica
 *  Astronomical Observatory of Trieste - National Institute for Astrophysics
 * ____________________________________________________________________________
 *
 * Copyright (C) 20016  Istituto Nazionale di Astrofisica
 * 
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software Foundation, Inc., 
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 * _____________________________________________________________________________
 **/
-->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

	  <display-name>VOSpace Backend</display-name>

	 <servlet>
	  <servlet-name>VOSpaceBackend</servlet-name>
	  <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
	  <init-param>
	   <param-name>org.restlet.application</param-name>
	   <param-value>it.inaf.oats.vospacebackend.VOSpaceBackendApplication</param-value>
	  </init-param>
	 </servlet>

	 <servlet-mapping>
	  <servlet-name>VOSpaceBackend</servlet-name>
	  <url-pattern>/*</url-pattern>
	 </servlet-mapping>

	</web-app>
        
